{% extends "base.html" %}
{% block title %}MA
{% endblock %}
{% block pagecontent %}


<div>
        <head>
                <style>
h1   {color: black;}
<h1></h1>
p    {color: black;}
</style>
        </head>
        <div>
                <div><h1>Massachusetts</h1></div>
                <div><p>Below are the COVID stats for Massachusetts.</p></div>
                <div><p>Work in Progress</p></div>

                <diiv><img src="https://www.saferstates.org/assets/details-page-images/massachussetts.png"></diiv>

</div>

</html>






<html>
<head>
        <style>
h1   {color: black;}
<h1></h1>
p    {color: black;}
</style>
</head>
<body>


</body>
</html>



{% endblock %}