{% extends "base.html" %}
{% block title %}Easter
{% endblock %}

{% block pagecontent %}
<html>

<div class="card text-center w-100"><h1>Congrats! You found the Easter Egg!</h1></div>

<div class="card w-100">
    <div class="card-body">
        <h2>Have Fun Exploring!</h2>
        <p>Who Am I In Computer Science?</p>
    </div>
</div>
<br>
<div class="card text-white bg-info border-info mb-3" style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-title">Ketki</h5>
        <h6 class="card-subtitle mb-2 text-muted">I statements</h6>
        <p class="card-text">I am competent in Python programming and am working on becoming an expert, I can build a Python/Flask web server, I can develop web frontends using HTML, CSS, and BootSTrap, I know Database concepts like establishing table sto setup and manage user accounts. I understand REST APIs capabilities Flask request and parsing resulting data from JSON, I am now learning concepts of curating data, searching data, and starting to become competent in concepts like Data Analytics.</p>
    </div>
</div>
<div class="card text-white bg-warning border-warning mb-3" style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-title">Iniyaa</h5>
        <h6 class="card-subtitle mb-2 text-muted">I statements</h6>
        <p class="card-text">I can build a Python/Flask website, I am working on Python programming and am working to become more experienced and knowledgeable, I have worked briefly on setting up a RaspberryPi, I know the concepts of HTML forms, exchanging data between frontend and backend using Flask Framework and Jinja variables.</p>
    </div>
</div>
<div class="card text-white bg-danger border-danger mb-3" style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-title">Lucas</h5>
        <h6 class="card-subtitle mb-2 text-muted">I statements</h6>
        <p class="card-text">I can develop web frontends using HTML, CSS< and Bootstrap, I know the concepts of HTML forms, building Jinja templates, I can do backend work with SQL databases, specifically SQLite, and SQLalchemy utilizing the Flask framework, I know database concepts like establishing tables to setup and manage user accounts.</p>
    </div>
</div>
<div class="card text-white bg-success border-success mb-3" style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-title">Dayita</h5>
        <h6 class="card-subtitle mb-2 text-muted">I statements</h6>
        <p class="card-text"> I can build a Python/FLask web server, I can do the DevOps on Linux, namely setting up a Python/Flask server using services like Gunicorn, and Nginx, I have worked with Internet Service Provider DNS records to setup my own Domain.</p>
    </div>
</div>
<hr>


<!--<ul class="nav nav-pills" id="myTab" >-->
<!--    <li class="nav-item">-->
<!--        <a class="nav-link active" href="#Ketki">Ketki</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--        <a class="nav-link"  href="#Iniyaa">Iniyaa</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--        <a class="nav-link"  href="#Lucas">Lucas</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--        <a class="nav-link"  href="#Dayita">Dayita</a>-->
<!--    </li>-->
<!--</ul>-->

<div class="grid">
    <div class="row">
    <h4>Ketki's Study Journal</h4>
    <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4">
        <p style="padding:0;margin:0">
            <iframe src="https://padlet.com/embed/b2gewsd6j68esz16" frameborder="0" allow="camera;microphone;geolocation" style="width:100%;height:608px;display:block;padding:0;margin:0">
            </iframe>
        </p>
    </div>
    </div>

<div>

    <h4>Iniyaa's Study Journal</h4>
    <iframe width="800px" height="640px" src="https://docs.google.com/document/d/e/2PACX-1vRtUpyUujB5DrKMgJgBeZUeV3nB4UnYgzMtIPi373uneM3BTUs9gRe7_dmmHa58MDQfngiTNncagT8A/pub?embedded=true"></iframe>
</div>

<div >
    <h4>Lucas's Study Journal </h4>
    <div class="padlet-embed" style="border:1px solid rgba(0,0,0,0.1);border-radius:2px;box-sizing:border-box;overflow:hidden;position:relative;width:100%;background:#F4F4F4">
        <p style="padding:0;margin:0">
            <iframe src="https://padlet.com/embed/xyl8ahu3tp778ne0" frameborder="0" allow="camera;microphone;geolocation" style="width:100%;height:608px;display:block;padding:0;margin:0">

            </iframe>
        </p>
        <div style="padding:8px;text-align:right;margin:0;"><a href="https://padlet.com?ref=embed" style="padding:0;margin:0;border:none;display:block;line-height:1;height:16px" target="_blank"><img src="https://padlet.net/embeds/made_with_padlet.png" width="86" height="16" style="padding:0;margin:0;background:none;border:none;display:inline;box-shadow:none" alt="Made with Padlet"></a>
        </div>
    </div>
    <br/>
    <div >
        <h4>Dayita's Study Journal </h4>
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRobPr2FChk7q-7KNsZPbJnxz7PzR95fPiE2ZU5r6pKw9qLTeHEYjREUbR6FeIyUCK1NyvoWDnb4d2A/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true">
        </iframe>
    </div>
</div>
{% endblock %}
