{% extends "base.html" %}
{% block title %}Easter
{% endblock %}

{% block pagecontent %}
<html>
<div class="jumbotron">
    <h1 class="display-4">AP Prep Materials</h1>
    <p class="lead"> Another Demo of API access and display.</p>
    <hr class="my-4">
    <p>Have Fun Learning!</p>
    <div><p>AP Prep Materials</p></div>
    <div><p>Who Am I In Computer Science?</p></div>
    <div><p>Iniyaa: I can build a Python/Flask website, I am working on Python programming and am working to become more experienced and knowledgeable, I have worked briefly on setting up a RasberryPi, I know the concepts of HTML forms, exchanign data between frontend and backend using Flask Framework and Jinja variables.</p></div>
    <div><p>Ketki: I am competent in Python programming and am working on becoming an expert, I can build a Python/Flast web server, I can develop web frontends uisng HTML, CSS, and BootSTrap, I know Database concepts like establishing table sto setup and manage user accounts. I understand REST APIs capabilities Flask request and parsin resulting data from JSON, I am now learning concepts of curating data, searchign data, and starting to become competent in concepts like Data Analytics.</p></div>
    <div><p>Lucas: I can develop web frontends usin HTML, CSS< and Bootstrap, I know the conepts of HTML forms, building Jinja templates, I can do backend work with SQL databases, specifically SQLite, and SQLalchemy utilizing the Flask framework, I know database concepts like establishing tables to setup and manage user accounts, I know Flask services like login_reuired</p></div>
    <div><p>Dayita: I can build a Python/FLask web server, I can do the DevOps on Linux, namely settin gup a Python/Flask server using services like Guniorn, and Nginx, I have worked with Internet Service Provider DNS records to setup my own Domain.</p></div>
    <div>
        <iframe width='1280' height='500' src='https://docs.google.com/document/d/1kvMzmArMpyAslMV8DhFJkwPjKPK1mwLPTkxdrWAZ-2o/edit?usp=sharing'
                frameborder=2 allowfullscreen allow='xr-spatial-tracking'></iframe>
    </div>
    <div>
        <iframe width='1280' height='500' src='https://docs.google.com/document/d/1ucN67mMk1yRSADrn1GzRVanl8yo7DbifrwP5Lr8Rp_o/edit'
                frameborder=2 allowfullscreen allow='xr-spatial-tracking'></iframe>
    </div>
    <div>
        <iframe width='1280' height='500' src='https://docs.google.com/presentation/d/1ZjPZqEHmkV0FBVyb82sWm3yF2TpxOL6YxCatdVWoIp4/edit#slide=id.p'
                frameborder=2 allowfullscreen allow='xr-spatial-tracking'></iframe>
    </div>
    <div>
        <iframe width='1280' height='500' src='https://docs.google.com/presentation/d/1uuj4ZT2CKtE1uEBfdMO_ZDLq3NfDSm2fPuaU1FHmfgc/edit#slide=id.gaa256354cb_0_16'
                frameborder=2 allowfullscreen allow='xr-spatial-tracking'></iframe>
    </div>
    <div>
        <iframe width='1280' height='500' src='https://docs.google.com/presentation/d/1WdW3lUNA4VkoNFR2S4Lt810Lpv84zlZ56Jd3jNVF5Cw/edit#slide=id.g35f391192_00'
                frameborder=2 allowfullscreen allow='xr-spatial-tracking'></iframe>
    </div>
    <div>
        <iframe width='1280' height='500' src='https://docs.google.com/presentation/d/19o3QK7WJPxE7JK59st9lMRO4UC1EWC4_QHmhXqyNenI/edit?pli=1#slide=id.g6d4d7b85ed_0_852'
                frameborder=2 allowfullscreen allow='xr-spatial-tracking'></iframe>
    </div>


</div>

{% endblock %}
