
{% extends "base.html" %}
{% block title %}FL
{% endblock %}

{% block pagecontent %}

<div>
  <head>
    <style>
h1   {color: black;}
<h1></h1>
p    {color: black;}
</style>
  </head>
  <div>

  <div><h1>Florida</h1></div>
  <div></div><p>Below are the COVID stats for Florida.</p></div>
  <div><p>Work in Progress</p></div>
  <diiv><img src="https://www.retirementegg.com/images/states/florida.gif"></diiv>

</div>
<table class="table table-bordered table-sm table-hover">
  <thead class="thead-dark">
  <tr>
    <th>State: FL:</th>
    <th>Positive Cases: 1571840</th>
    <th>Total Deaths: 24965</th>
    <th>Currently Hospitalized: 7141</th>
  </tr>
  </thead>
  <tbody>
  {% for item in data %}
  <TR>
    <TD class="c2">{{item.state}}</TD>
    <TD class="c2">{{item.positive}}</TD>
    <TD class="c3">{{item.death}}</TD>
    <TD class="c3">{{item.hospitalizedCurrently}}</TD>

  </TR>
  {% endfor %}
  </tbody>
</table>

</html>


{% endblock %} 

