{% extends "base.html" %}


{% block head %}
<title>{{name}}| Home </title>
{% endblock %}
{% block pagecontent %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to COVID Information Supersite!</h1>
    <p class="lead"> Demo of API access and display.</p>
    <hr class="my-4">
    <p>Enjoy!</p>
</div>

<hr>
<h2>Current Snapshot of the data</h2>
<table class="table table-bordered table-sm table-hover">
    <thead class="thead-dark">
    <tr>
        <th>State</th>
        <th>Positive Cases</th>
        <th>Total Deaths</th>
        <th>Currently Hospitalized</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <TR>
        <TD class="c2"><a href="/state/{{item.state}}">{{item.state}}</a></TD>
        <TD class="c2">{{item.positive}}</TD>
        <TD class="c3">{{item.death}}</TD>
        <TD class="c3">{{item.hospitalizedCurrently}}</TD>

    </TR>
    {% endfor %}
    </tbody>
</table>

{% endblock %}