{% extends "base.html" %}
{% block title %}MA
{% endblock %}
{% block pagecontent %}


<div>
        <head>
                <style>
h1   {color: black;}
<h1></h1>
p    {color: black;}
</style>
        </head>
        <div>
                <div><h1>Massachusetts</h1></div>
                <div><p>Below are the COVID stats for Massachusetts.</p></div>
                <div><p>Work in Progress</p></div>

                <diiv><img src="https://www.saferstates.org/assets/details-page-images/massachussetts.png"></diiv>

</div>

</html>






<html>
<head>
        <style>
h1   {color: black;}
<h1></h1>
p    {color: black;}
</style>
</head>
<body>


</body>
</html>

<table class="table table-bordered table-sm table-hover">
        <thead class="thead-dark">
        <tr>
                <th>State: NJ:</th>
                <th>Positive Cases: 481040</th>
                <th>Total Deaths: 13829</th>
                <th>Currently Hospitalized: 2209</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
        <TR>
                <TD class="c2">{{item.state}}</TD>
                <TD class="c2">{{item.positive}}</TD>
                <TD class="c3">{{item.death}}</TD>
                <TD class="c3">{{item.hospitalizedCurrently}}</TD>

        </TR>
        {% endfor %}
        </tbody>
</table>


{% endblock %}