<!-- Ketki's page on the website -->
{% extends "base.html" %}
{% block title %}NY
{% endblock %}

{% block pagecontent %}


<div>
 <head>
  <style>
h1   {color: black;}
<h1></h1>
p    {color: black;}
</style>
 </head>
 <div>

  <div><h1>New York</h1></div>
  <div></div><p>Below are the COVID stats for New York.</p></div>
 <div><p>Work in Progress</p></div>
 <diiv><img src="https://www.edtpa.com/config/images/state_NY.png"></diiv>
</div>

</html>
<table class="table table-bordered table-sm table-hover">
 <thead class="thead-dark">
 <tr>
  <th>State: NY:</th>
  <th>Positive Cases: 1271451</th>
  <th>Total Deaths: 33415</th>
  <th>Currently Hospitalized: 9273</th>
 </tr>
 </thead>
 <tbody>
 {% for item in data %}
 <TR>
  <TD class="c2">{{item.state}}</TD>
  <TD class="c2">{{item.positive}}</TD>
  <TD class="c3">{{item.death}}</TD>
  <TD class="c3">{{item.hospitalizedCurrently}}</TD>

 </TR>
 {% endfor %}
 </tbody>
</table>

{% endblock %}