<!-- Ketki's page on the website -->
{% extends "base.html" %}
{% block title %}OR
{% endblock %}

{% block pagecontent %}
<html>
<head>
    <style>
h1   {color: black;}
<h1></h1>
p    {color: black;}
</style>
</head>
<div>

<div><h1>Oregon</h1></div>
<div><p>Below are the COVID stats for Oregon.</p></div>

<diiv><img src="https://ies.ed.gov/ncee/edlabs/regions/northwest/images/oregon.png"></diiv>

</body>
</html>

<table class="table table-bordered table-sm table-hover">
    <thead class="thead-dark">
    <tr>
        <th>State: OR:</th>
        <th>Positive Cases: 134468</th>
        <th>Total Deaths: 1808</th>
        <th>Currently Hospitalized: 379</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <TR>
        <TD class="c2">{{item.state}}</TD>
        <TD class="c2">{{item.positive}}</TD>
        <TD class="c3">{{item.death}}</TD>
        <TD class="c3">{{item.hospitalizedCurrently}}</TD>

    </TR>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
